config SSD1362
	bool "SSD1362 display driver"
	default y
	depends on DT_HAS_SOLOMON_SSD1362_ENABLED
	select MIPI_DBI
	help
	  Enable driver for SSD1362 display controller.

if SSD1362

config SSD1362_DEFAULT_GREYSCALE
	bool "SSD1362 default mode is greyscale"
	help
	  Sets greyscale mode as default mode.

endif # SSD1362
