# Copyright (c) 2024 Lukasz Hawrylko
# SPDX-License-Identifier: Apache-2.0

config SSD1362
	bool "SSD1362 display driver"
	default y
	depends on DT_HAS_SOLOMON_SSD1362_ENABLED
	select MIPI_DBI
	help
	  Enable driver for SSD1362 display driver.
